<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo list</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="view">
         <nav>
            <div class="colors">
                <span class="color-btn"></span>
                <span class="color-btn"></span>
                <span class="color-btn"></span>
            </div>
            <h3>Todo app</h3>
         </nav>
        <div>
            <form action="/categories" method="GET" class="cat-form">
                <input type="text" name="category" placeholder="create a specific category">
                <button class="cat-btn">ok</button>
            </form>
        </div>
        <div class="todo-bloc">
            <h1> <%= title === 'home'? date: title %></h1>
    
            <ul>
                <% if(todos.length > 0){  %>
                    <% todos.forEach( todo => {  %> 
                        <li class="item">
                            <input type="radio">
                            <span><%= todo.content %></span>
                            <a href=<%= title === 'home'?'/' + 'delete' +todo._id: route? '/categories/delete/?category=' + route + '&id=' + todo._id:'/' %>>
                                <span class="trash">&#128465;</span>
                            </a>
                            
                        </li>
                    <% }) %>  
                <% } else { %>
                    <li class="item">No todos at the moment</li>
                <% } %>
            </ul>
    
            <form  action= <%= title === 'home'?'/': route? '/categories/?category=' + route:'/' %> method="post">
                <input type="text" name="newTodo" placeholder="add a new todo" autocomplete="off" required> 
                <button class="btn">&#43;</button>
            </form>
        </div>
            <% console.log("from the list ejs", cat) %>
    </div>
    <div class="aside">
        <h3>My specific list of todos</h3>
        <ul class="categories">
            <%  if(cat.length > 0) { %>
                <% cat.forEach(category => {  %> 
                  
                    <li>
                        <a href= <%= "/categories?category=" + category.name.split(' ').join('+')  %> > 
                            <span class="cat-text"><%= category.name %></span>
                        </a>
                        <a class="delete-link" href=<%= '/category/delete/?name='+ category.name.split(' ').join('+') %>  >
                            <span class="del">&#10005;</span>
                        </a>
                    </li> 
               
                <% }) %>  
            <% } else { %>
                <li>No specific todos for the moment</li>
            <% } %>
        </ul>
    </div>

    <script src="js/main.js">
    </script>
</body>
</html>