<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo list</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="view">
         <nav>
            <div class="colors">
                <span class="color-btn" data-color="cornfowerblue"></span>
                <span class="color-btn" data-color="crimson"></span>
                <span class="color-btn" data-color="black"></span>
                <span class="mobile-menu">
                    &#9871;
                </span>
            </div>
            <h3>Todo app</h3>
         </nav>
         
            <div> 
                <form action="/categories" method="GET" class="cat-form" <% if(show) { %> style="visibility: hidden;" <% }%>>
                    <input type="text" name="category" placeholder="create a specific category" autocomplete="off">
                    <button class="cat-btn">ok</button>
                </form>
            </div>
       
        <div class="todo-bloc">
            <h1> <%= title === 'home'? "Today is " + date: title %></h1>
            
            <ul>
                <% if(todos.length > 0){  %>
                    <% todos.forEach( todo => {  %> 
                        <li class="item" data-title = <%= title.split(' ').join('_') %> data-content=<%= todo.content.split(' ').join('_') + title.split(' ').join('_') %> >
                            <input type="checkbox">
                            <span><%= todo.content %></span>
                            <a href=<%= title === 'home'?'/' + 'delete' +todo._id: route? '/categories/delete/?category=' + route + '&id=' + todo._id:'/' %>>
                                <span class="trash">&#128465;</span>
                            </a>
                            
                        </li>
                    <% }) %>  
                <% } else { %>
                    <li class="item not_todo">No todos at the moment</li>
                <% } %>
            </ul>
    
            <form  action= <%= title === 'home'?'/': route? '/categories/?category=' + route:'/' %> method="post">
                <input type="text" name="newTodo" placeholder="add a new todo" autocomplete="off" required> 
                <button class="btn">&#43;</button>
            </form>
        </div>
        <% if (show){ %>
            <div class="go-home-block">
                <a href="/">
                    <span class="homeBtn">
                        Go to home page
                    </span>
                    <span class="mobile-home-btn">&#9963;</span>
                </a>
            </div>
        <% } %>
    </div>
    <div class="aside">
        <h3>My specific list of todos</h3>
        <ul class="categories">
            <%  if(cat.length > 0) { %>
                <% cat.forEach(category => {  %> 
                  
                    <li>
                        <a class="category-text" href= <%= "/categories?category=" + category.name.split(' ').join('+')  %> > 
                            <span ><%= category.name %></span>
                        </a>
                        <a class="delete-link" data-category = <%= category.name.split(' ').join('_') %> href=<%= '/category/delete/?name='+ category.name.split(' ').join('+') %>  >
                            <span>&#10005;</span>
                        </a>
                    </li> 
               
                <% }) %>  
            <% } else { %>
                <li>No specific todos for the moment</li>
            <% } %>
        </ul>
    </div>

    <footer class="mobile">
        <small>By kassyl</small>
    </footer>

    <script src="js/main.js">
    </script>
</body>
</html>